:root{
  --primary: #e9585d;
  --secondary: #8eb4c6;
  --dark: #333647
}

/* @media (prefers-color-scheme: dark) { */
html{
  background: #333647;
  color:#e9585d;
}
a.normal{
  color:#e9585d;
}
/* } */

.dark{
  color: var(--dark);
}

.primary{
  color: var(--primary);
}

.secondary{
  color: var(--secondary)
}

.dark-hover:hover{
  color: var(--dark);
}

.primary-hover:hover{
  color: var(--primary);
}

.secondary-hover:hover{
  color: var(--secondary)
}

.bg-dark{
  background: var(--dark);
}

.bg-primary{
  background: var(--primary);
}

.bg-secondary{
  background: var(--secondary)
}

.bg-dark-hover:hover{
  background: var(--dark);
}

.bg-primary-hover:hover{
  background: var(--primary);
}

.bg-secondary-hover:hover{
  background: var(--secondary)
}

.b--dark{
  border-color: var(--dark);
}

.b--primary{
  border-color: var(--primary);
}

.b--secondary{
  border-color: var(--secondary)
}

.b--dark-hover:hover{
  border-color: var(--dark);
}

.b--primary-hover:hover{
  border-color: var(--primary);
}

.b--secondary-hover:hover{
  border-color: var(--secondary)
}

.f-4 { font-size: 4.5rem;}

#root{
  margin:0 4.166666667%;
  /* display: flex; */
  height:100vh;
}

.leftCol{
  width:30%;
  margin-right:15px;
}

.rightCol{
  width: calc(70% - 15px);
}

:root {
  --spacing-none: 0;
  --spacing-extra-small: .25rem;
  --spacing-small: .5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;
}

.project-img{
  max-width:100%;
  object-fit: cover;
}

.project-img img{
  width:100%;
}

.project-img video{
  max-width:100%;
  max-height:100%;
}


.shortTitle::before{
  content:"";
  display:inline-block;
  width:2px;
  height: 100%;
  margin: 12px -1px;
}

.grid{
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 15px;
}


:root{
  --primary: #e9585d;
  --secondary: #8eb4c6;
  --dark: #333647
}

/* @media (prefers-color-scheme: dark) { */
html{
  background: #333647;
  color:#e9585d;
}

@font-face {
  font-family: 'Departure Mono';
  src: url('https://assets.codepen.io/605876/DepartureMono-Regular.woff');
}

@font-face {
  font-family: 'virture';
  src: url('https://gazs.github.io/canvas-atkinson-dither/virtue.ttf')
}

html{
    font-family: 'Departure Mono', monospace;
}

.sans{
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.serif{
  font-family: georgia,times,serif;
}

.topper{
  display:flex;
  flex-direction:row
}

h1{
  font-size: 3.75em;
  font-weight: bold;
  margin-left:20px
/*   text-align: center; */
}

.box{
  width:200px;
  height:200px;
  background:#e9585d;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23e9585d' stroke-width='20' stroke-dasharray='1%2c 29' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
/*     transform: rotate(45deg); */
  overflow:hidden;
}

.profile{
  width:120%;
  margin:-8% -8%;
/*   transform:rotate(-45deg); */
  mix-blend-mode: multiply;
}

.projects{
  border: solid 1px;
  position:relative;
  padding:20px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects-list{
  margin-top:20px;
  margin-right: 20px;
  flex-grow:1;
}

.project-list-item{
  margin-bottom:10px;
  position:relative;
}

.project-list-item:hover:before,
.project-list-item:focus:before{
  content:" ";
  width:10px;
  height:10px;
  display: inline-block;
  background: #e9585d;
  transform:rotate(-45deg);
  position:absolute;
  left: -15px;
  top:4px;
    
}

.projects-header {
  position:absolute;
  top:-45px;
  left:40px;
  background: #333647;
  padding:10px;
}

.project-preview{
  border: solid 1px;
  height: 200px;
  width: 200px;
  align-self: flex-end;
}

.footer{
  margin: 10px 0px;
}