---
import '../../public/Tachyons.4.11.2.css';
import '../../public/layout.css';
const { title } = Astro.props;
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body>
    <div id="root">
        <h1 class="f-headline-ns f-4 lh-solid sans-serif">
            <a href="/" style="color: #8eb4c6;">Seth Blanchard</a>
        </h1>
		<h1>{title}</h1>
        <slot />
    </div>
</body>
</html>